body {
    margin: 0;
    padding: 0;
    background-color: wheat;
}

.main {
    min-height: 600px;
}

h2 {
    text-align: center;
}

footer {
    background-color: rgb(41, 41, 41);
    color: rgb(147, 147, 147);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}