body {
    margin: 0;
    padding: 0;
    background-color: rgb(96, 59, 89);
    font-family: FreeMono, monospace;
}

.main {
    min-height: 600px;
    font-size: larger;
}

h2 {
    text-align: center;
}

footer {
    background-color: rgb(41, 41, 41);
    color: rgb(147, 147, 147);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}